<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapapi.food.repository.WeatherRepository">


    <resultMap id="simpleWeather" type="com.mapapi.food.domain.Weather">

        <result property="yrmmdd"                   column="YRMMDD"/>
        <result property="hour"                     column="HOUR"/>
        <result property="temperature"              column="TEMPERATURE"/>
        <result property="precipitationForm"        column="PRECIPITATIONFORM"/>
        <result property="humidity"                 column="HUMIDITY"/>

    </resultMap>

    <sql id="selectW">
        select
            YRMMDD,
            HOUR,
            TEMPERATURE,
            PRECIPITATIONFORM,
            HUMIDITY
        from weather
    </sql>




    <insert id="insertWeather">
        insert into weather
            (
                YRMMDD,
                HOUR,
                TEMPERATURE,
                PRECIPITATIONFORM,
                HUMIDITY
            )
        value
            (
                #{yrmmdd},
                #{hour},
                #{temperature},
                #{precipitationForm},
                #{humidity}
            )
    </insert>

    <select id="selectWeather" resultMap="simpleWeather">
        select
        YRMMDD,
        HOUR,
        TEMPERATURE,
        PRECIPITATIONFORM,
        HUMIDITY
        from weather
        <where>
            <if test="yrmmdd != null and yrmmdd != ''">and YRMMDD = #{yrmmdd}</if>
        </where>
        order by HOUR desc
        limit 1;


    </select>


</mapper>