<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapapi.food.repository.WeatherRepository">


    <resultMap id="simpleWeather" type="com.mapapi.food.domain.Weather">

        <result property="yrmmdd"                   column="yrmmdd"/>
        <result property="hour"                     column="hour"/>
        <result property="temperature"              column="temperature"/>
        <result property="precipitationForm"        column="precipitation_form"/>
        <result property="humidity"                 column="humidity"/>

    </resultMap>

    <sql id="selectW">
        select
            yrmmdd,
            hour,
            temperature,
            precipitation_form,
            humidity
        from weather
    </sql>




    <insert id="insertWeather">
        insert into weather
            (
                yrmmdd,
                hour,
                temperature,
                precipitation_form,
                humidity
            )
        value
            (
                #{yrmmdd},
                #{hour},
                #{temperature},
                #{precipitationForm},
                #{humidity}
            )
    </insert>

    <select id="selectWeather" resultMap="simpleWeather">
        <include refid="selectW"/>
        <where>
            <if test="yrmmdd != null and yrmmdd != ''">and yrmmdd = #{yrmmdd}</if>
        </where>
        order by HOUR desc
        limit 1;


    </select>


</mapper>